body {
  background-color: #f0f;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

svg {
  width: 100%;
  height: 100%;
}

.d-none, div[style].d-none {
  display: none !important;
}

.d-block {
  display: block;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.d-hidden {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
}